/*------------ Variables -----------*/

$color-primary: #d96528;
$color-secondary: #03c1c1;
$color-grey: #cccccc;

$font-title: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, sans-serif;
$font-content: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif;
